<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blogging</title>
    <link th:href="@{style.css}" rel="stylesheet">
</head>
<body>
    <table id="wrapper" border="1">
        <tr>
            <td colspan="2" id="menu-wrapper">
                <ul>
                    <li><a id="active-menu-item" th:href="@{/index}">Page_blog</a></li>
                    <li><a th:href="@{/post-comments}">Post_comments</a></li>
                    <li><a th:href="@{/create-post}">Create_post</a></li>
                </ul>
            </td>

        </tr>
        <tr>
            <td id="content-wrapper">
                    <table id="list1-posts" border="1">
                        <tr>
                            <td width="50">PostId</td>
                            <td>Title</td>
                            <td width="150">Description</td>
                            <td width="80">Rating</td>
                            <td width="150">AuthorName</td>

                            <td width="35">Open</td>
                            <td width="35"> + </td>
                            <td width="35"> - </td>
                        </tr>
                        <tr th:each="post:${foundPosts}">
                            <td th:text="${post.postId}"></td>
                            <td th:text="${post.title}"></td>
                            <td th:text="${post.description}"></td>
                            <td th:text="${post.rating}"></td>
                            <td th:text="${post.authorName}"></td>

                            <td>
                                <a th:href="@{/post-comments}">
                                    <img height="20" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9zjn18TZ2mIaRZajNSeQOuIFW4pG1sUCzqA&usqp=CAU">
                                </a>
                            </td>
                            <td></td>
                            <td></td>

                        </tr>
                    </table>

                <hr>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>