<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blogging</title>
    <link th:href="@{style.css}" rel="stylesheet">
</head>
<body>
<table id="wrapper" border="1">
    <tr>
        <td colspan="2" id="menu-wrapper">
            <ul>
                <li><a id="active-menu-item" th:href="@{/index}">Page_blog</a></li>
                <li><a th:href="@{/post-comments}">Post_comments</a></li>
                <li><a th:href="@{/create-post}">Create_post</a></li>
            </ul>
        </td>

    </tr>
    <tr>
        <td id="content-wrapper">
            <table id="list1-posts" border="1">
                <tr>
                    <td width="50">PostId</td>

                    <td width="150">CommentId</td>
                    <td width="80">Message</td>
                    <td width="150">AuthorName</td>
                    <td width="35">Rating</td>
                    <td width="35">CreatedAt</td>

                </tr>
                <tr th:each="comment:${foundComments}">
                    <td th:text="${comment.PostId}"></td>
                    <td th:text="${comment.CommentId}"></td>
                    <td th:text="${comment.message}"></td>
                    <td th:text="${comment.authorName}"></td>
                    <td th:text="${comment.rating}"></td>
                    <td th:text="${comment.createdAt}"></td>
                </tr>
                <tr>
                    <td colspan="3">18

                        <form action="#" th:action="@{/create-comment}" th:object="${commentToCreate}" method="post">
                            Add comment form: <br><br>
                            Post: <br><input field="*{post.postId}" type="number">
                            <br>
                            Author: <br><input th:field="*{authorName}" type="text">
                            <br>
                            Message: <br><input th:field="*{message}"  type="text">
                            <br>
                            <input type="submit" value="Add">
                        </form>
                    </td>
                </tr>

            </table>

            <hr>
            </form>
        </td>
    </tr>
</table>
</body>
</html>