<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post-comments</title>
    <link th:href="@{style.css}" rel="stylesheet">

</head>
<body>
    <table id="wrapper" border="1" >
        <tr>
            <td colspan=7 id="menu-wrapper">
                <ul>
                    <li><a  th:href="@{/index}">Page_blog</a></li>
                    <li><a id="active-menu-item" th:href="@{/post-comments}">Post_comments</a></li>
                    <li><a th:href="@{/create-post}">Create_post</a></li>
                </ul>
            </td>
        </tr>
        <tr>

        </tr>
              <tr th:each="post:${foundPosts}">
                    <td colspan = "3" th:text="${post.description}">6 Post description: </td>
              </tr>
              <tr th:each="comment:${foundComments}">
                    <td  colspan = "3">10
                        <p>Comment id: <span th:text="${comment.commentId}"></span></p>
                        <p>    Author: <span th:text="${comment.authorName}"></span></p>
                        <p>Message: <span th:text="${comment.message}"></span></p>
                    </td>
              </tr>
              <tr th:each="comment:${foundComments}">
                    <td colspan = "3" >14
                        <p>Comment id: <span th:text="${comment.commentId}"></span></p>
                        <p>    Author: <span th:text="${comment.authorName}"></span></p>
                        <p>Message: <span th:text="${comment.message}"></span></p>

                    </td>
              </tr>

                <tr>
                    <td colspan="3">18

                        <form action="#" th:action="@{/create-comment}" th:object="${commentToCreate}" method="post">
                            Add comment form: <br><br>
                        Post: <br><input field="*{post.postId}" type="number">
                            <br>
                        Author: <br><input th:field="*{authorName}" type="text">
                            <br>
                        Message: <br><input th:field="*{message}"  type="text">
                        <br>
                        <input type="submit" value="Add">
                        </form>
                    </td>
                </tr>
    </table>
</body>
</html>